[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
PySide6 = "==6.6.3.1"
psutil = "==5.9.8"
pyobjc = {version = "==5.1.2", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.11.9"
